.tab{
  border: 1px solid black;
  margin: 30px 30px;
  border-collapse: collapse;
}

th , td{
  border: 1px solid black;
}

td{
  min-width: 3%;
  width: 10%;
  text-align: center
}

.btn{
  border: none;
  background-color: transparent;
}